{{!-- HEAD --}}
<!DOCTYPE html>
{{!-- LANGUAGE --}}
<html lang="en">
{{!-- DEBUT CONTENU HEAD --}}

<head>
    <!--ENCODAGE-->
    <meta charset="UTF-8">
    <!--RESPONSIVE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--ICONES-->
    <script src="https://kit.fontawesome.com/6ef412e734.js" crossorigin="anonymous"></script>
    <!--FONTS-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,700&display=swap');
    </style>
    <!--FAVICON -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/body.css">

    <!--TITRE BARRE DE NAVIGATION-->
    <title>KMD web info & tx</title>
</head>
<!--/HEAD-->
{{!-- DEBUT DU BODY --}}

<body class="text-primary">